<%- include('header') %>
        <div class="container">
            <form method="post">
                <h1><%=movie.title%> értékelése</h1>
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Név</label>
                    <input type="text" class="form-control" name="name" id="nameInput">
                </div>
                <div class="mb-3">
                    <label for="descInput" class="form-label">Vélemény</label>
                    <textarea type="text" class="form-control" name="desc" id="descInput"></textarea>
                </div>
                <div class="mb-3">
                    <label for="scoreRating" class="form-label">Értékelés</label>
                    <select id="scoreRating" name="score" class="form-select">
                        <% for(i = 1; i<=5; i++) { %>
                            <option><%= i %> </option>
                        <% } %>
                    </select>
                  </div>
                <button class="btn btn-success" type="submit">Mentés</button>
                <a class="btn btn-danger" href="<%=`/movies/${movie._id}`%>" role="button">Mégse</a>
            </form>
        </div>
<%- include('footer') %>